<ion-view title="Change Info" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="changeInfo-form4" class="list">
      <label class="item item-input" id="changeInfo-input2">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Erik Zhang">
      </label>
      <label class="item item-input" id="changeInfo-input4">
        <span class="input-label">Email</span>
        <input type="email" placeholder="erikbzhang@yahoo.com">
      </label>
      <label class="item item-input" id="changeInfo-input5">
        <span class="input-label">School/City</span>
        <input type="text" placeholder="Mountain View High School">
      </label>
      <label class="item item-input" id="changeInfo-input6">
        <span class="input-label">State</span>
        <input type="text" placeholder="Mountain View High School">
      </label>
      <label class="item item-input" id="changeInfo-input7">
        <span class="input-label">PayPal Email</span>
        <input type="text" placeholder="erikbzhang@yahoo.com">
      </label>
    </form>
    <button id="changeInfo-button11" class="button button-assertive button-block">Change my Instagram Account</button>
    <a ui-sref="tabsController.settings()" id="changeInfo-button12" class="button button-positive button-block">Update Profile Information</a>
  </ion-content>
</ion-view>