<ion-view title="Full Name" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="fullName-form5" class="list">
      <ion-list id="fullName-list7">
        <label class="item item-input" id="fullName-textarea5">
          <span class="input-label">Welcome!</span><textarea placeholder=""></textarea></label>
        <label class="item item-input" id="fullName-input8">
          <span class="input-label">Full Name</span>
          <input type="text" placeholder="Ex: John Smith">
        </label>
      </ion-list>
      <a ui-sref="email()" id="fullName-button13" class="button button-stable button-block">Next</a>
    </form>
  </ion-content>
</ion-view>