<ion-view title="School" id="page14">
  <ion-content padding="true" class="has-header">
    <form id="school-form8" class="list">
      <label class="item item-input" id="school-textarea3">
        <span class="input-label">Do you still go to school?</span><textarea placeholder=""></textarea></label>
      <ion-list id="school-list10">
        <ion-radio id="school-radio2" name="school">I still go to school</ion-radio>
      </ion-list>
      <ion-radio id="school-radio3" name="school">I don't go to school anymore</ion-radio>
      <a ui-sref="school2()" id="school-button16" class="button button-stable button-block">Next</a>
    </form>
  </ion-content>
</ion-view>