<ion-view title="Settings" id="page7">
  <ion-content padding="true" class="has-header">
    <h1 id="settings-heading1" style="color:#000000;text-align:center;">Welcome @erik.zhang!</h1>
    <ion-list id="settings-list4">
      <ion-item class="item-divider" id="settings-list-item-divider1"> Current Balance</ion-item>
      <ion-item class="item-icon-left" id="settings-list-item4">
        <i class="icon ion-ionic"></i>23</ion-item>
    </ion-list>
    <div id="settings-button-bar1" class="button-bar"></div>
    <ion-list id="settings-list6">
      <ion-item id="settings-list-item6">Name</ion-item>
      <ion-item id="settings-list-item7">Instagram Account</ion-item>
      <ion-item id="settings-list-item10">Email</ion-item>
      <ion-item id="settings-list-item11">School or City</ion-item>
      <ion-item id="settings-list-item12">State</ion-item>
      <ion-item id="settings-list-item14">PayPal Email</ion-item>
    </ion-list>
    <a ui-sref="tabsController.changeInfo()" id="settings-button8" class="button button-positive button-block">Change my profile info</a>
    <button id="settings-button7" class="button button-assertive button-block">Log out</button>
    <p style="text-align: center;">
      <a target="_blank" href="http://paidtopost.tech"> Have a question?</a>
    </p>
  </ion-content>
</ion-view>