<ion-view title="Withdraw Money" id="page8">
  <ion-content padding="true" style="background: url(img/ZuyUwXr7QayXsbel1Sdk_dollar20background.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="withdrawMoney-form3" class="list">
      <ion-item class="balanced" id="withdrawMoney-list-item17">Balance</ion-item>
      <label class="item item-input" id="withdrawMoney-textarea2">
        <span class="input-label">$10</span><textarea placeholder=""></textarea></label>
    </form>
    <button id="withdrawMoney-button9" class="button button-calm button-block">Withdraw with Paypal</button>
    <button id="withdrawMoney-button10" class="button button-dark button-block">Withdraw with Amazon Gift Card</button>
  </ion-content>
</ion-view>